<div class="col-2 text-center align-content-center">
    <div>
        <span class="fa fa-thumbs-o-up"></span>
        <br>
        <span>0</span>
        <br>
        <span class="fa fa-thumbs-o-down"></span>
    </div>
</div>
    
<div class="col-10 align-content-center">
    <div class="mb-5">                    
        <label for=""><%= answer.content %></label> <br>
            
    </div>
    <hr>
</div>
